body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: #f0f2f5;
  padding: 0;
  margin: 0;
}

.top-section {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding-top: 8%;
  padding-bottom: 12%;
}

img {
  height: 120px;
  margin: -35px;
}
h2 {
  font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
  font-size: 30px;
  font-weight: normal;
  line-height: 35px;
  width: 530px;
}

.left-content {
  display: flex;
  flex-direction: row;
  margin-top: 85px;
  margin-right: 60px;
}

.login-form {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 7px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  margin-left: 60px;
}

input {
  font-size: larger;
  width: 400px;
  height: 55px;
  margin: 10px;
  padding-left: 16px;
  border-radius: 6px;
  border: 1px solid rgba(211, 211, 211, 0.959);
}

input:focus {
  outline: 1px solid #1877f2;
  box-shadow: #458cfd;
  caret-color: #2478ff;
}

::placeholder {
  font-size: large;
  color: rgb(157, 157, 157);
}

#btn-1 {
  background-color: #0866ff;
  color: white;
  width: 400px;
  height: 50px;
  margin: 10px;
  border-radius: 6px;
  border-width: 0px;
  font-size: x-large;
  font-weight: bold;
  cursor: pointer;
}

a {
  text-decoration: none;
  text-align: center;
  color: #0866ff;
  font-size: 17px;
  font-weight: 500;
  margin: 10px;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

#btn-2 {
  background-color: #42b72a;
  color: white;
  width: 210px;
  height: 50px;
  margin: 10px;
  border-radius: 6px;
  border-width: 0px;
  font-size: larger;
  font-weight: bold;
  margin-top: 25px;
  margin-bottom: 25px;
  cursor: pointer;
}

hr {
  width: 95%;
  border-top: 1px solid #dddddd;
}

.create-page {
  font-weight: normal;
  margin-top: 28px;
  margin-left: 80px;
}

#a1 {
  padding-left: 4px;
  color: black;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
}

#a1:hover {
  text-decoration: underline;
}

footer {
  background-color: #fff;
  align-items: center;
  padding-left: 15%;
  padding-right: 10%;
  color: gray;
}

#ul-1 {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding-top: 30px;
}

#lang {
  font-size: smaller;
  color: rgb(141, 141, 141);
}

#plus-btn {
  text-decoration: none;
  color: #848489;
  background-color: #f5f6f7;
  border: 1px solid #b5babd;
  border-radius: 2px;
  font-size: 22px;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
}

#hr-bottom {
  width: 85%;
  border-top: 1px solid #dddddd;
  margin-top: -10px;
  margin-bottom: -10px;
  margin-left: 50px;
}

#ul-2 {
  line-height: 1.4;
  list-style-type: none;
}

#list-lines {
  display: flex;
  flex-direction: row;
}

#meta {
  font-size: 12px;
  margin-left: 50px;
  margin-top: 25px;
  padding-bottom: 20px;
}
